body{
		padding: 20px 30px;
	background-color: #f5f5f5;
}
/* .testimonial{
	background-color:#fff;
	border: 1px solid #ddd;
	
} */
.section{
	background-color:#fff;
	border: 1px solid #ddd;
	 padding: 20px;
	margin: 29px;
	}
.section .text{
		font-size: 10px;;
		 text-align: left;
}

.section .author{
		 text-align: right;
}